<div class="flex">
    <div class="global">
        <!-- Mostramos los datos globales -->
        <h3>Datos globales</h3>
        <div class="pais">
            <!-- Un div para el titulo y otro para los datos -->
            <div class="titulo">
                <h2>Global</h2>
            </div>
            <div class="datos">
                <div>Confirmados: {{global.NewConfirmed}} / {{global.TotalConfirmed}}</div>
                <div>Muertos: {{global.NewDeaths}} / {{global.TotalDeaths}}</div>
                <div>Recuperados: {{global.NewRecovered}} / {{global.TotalRecovered}}</div>
            </div>
        </div>
    </div>

    <div class="spain">
        <!-- Mostramos los datos de España -->
        <h3>Datos de España</h3>
        <div class="pais">
            <!-- Un div para el titulo y otro para los datos -->
            <div class="titulo">
                <h2>{{spain.Country}}</h2>
            </div>
            <div class="datos">
                <div>Confirmados: {{spain.NewConfirmed}} / {{spain.TotalConfirmed}}</div>
                <div>Muertos: {{spain.NewDeaths}} / {{spain.TotalDeaths}}</div>
                <div>Recuperados: {{spain.NewRecovered}} / {{spain.TotalRecovered}}</div>
            </div>
        </div>
    </div>
</div>