<h3>Datos globales</h3>
<div class="pais">
    <h2>Global</h2>
    <div>Confirmados: {{global.NewConfirmed}} / {{global.TotalConfirmed}}</div>
    <div>Muertos: {{global.NewDeaths}} / {{global.TotalDeaths}}</div>
    <div>Recuperados: {{global.NewRecovered}} / {{global.TotalRecovered}}</div>
</div>

<h3>Datos de España</h3>
<div class="pais">
    <h2>{{spain.Country}}</h2>
    <div>Confirmados: {{spain.NewConfirmed}} / {{spain.TotalConfirmed}}</div>
    <div>Muertos: {{spain.NewDeaths}} / {{spain.TotalDeaths}}</div>
    <div>Recuperados: {{spain.NewRecovered}} / {{spain.TotalRecovered}}</div>
</div>